<% wrap_layout :layout do %>
  <article class="card">
    <!-- Article shows tags in top right -->
    <ul class="card-tags">
        <% current_article.tags.each do |tag| %>
          <li>
            <%= link_to "#{tag}", tag_path(tag),
                :class => "badge no-hvr",
                :id => "#{tag}" %>
          </li>
        <% end %>
    </ul>

    <h2 id="title"><%= current_article.title %></h2>

    <%= yield %>
  </article>

  <%= disqus %>
  <%= disqus_count %>
<% end %>