<div class="card" id="project-page">

  <%= partial "partials/card/tags_breadcrumb",
              locals: { item: post } %>

  <%= partial "partials/card/tags_filler",
              locals: { item: post } %>

  <%= partial "partials/card/image",
              locals: { item: post } %>

  <h2 id="title"><%= markdownify post.title %></h2>

  <hr class="fractal">

  <div id="description"><%= post.body %></div>
</div>
