<div class="card" id="project-page">

    <% if post.tags.any? %>
      <ul class="card-tags">
        <% post.tags.each do |tag| %>
          <li>
            <%= link_to "#{tag}", tag_path(tag),
                class: "badge no-hvr", id: "#{tag}" %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="card-image">
      <!-- if post has tags, add filler element -->
      <% if post.tags.any? %>
        <div id="tag-filler-space"></div>
      <% end %>
      <!-- if post has header image, add it -->
      <% if post.data['image'] %>
        <%= image_tag post.data['image'] %>
      <% end %>
    </div>

    <h2 id="title"><%= markdownify post.title %></h2>

    <hr class="fractal">

    <div id="description"><%=  post.body %></div>

    <!-- Get all posts for which there are posts -->
    <% pages = blog.articles.group_by {|a| a.metadata[:page]['page'] } %>
    <!-- Iterate over these pages -->
    <% pages.each do |this_page, pages| %>
        <!-- If the page with pages matches the page passed in to create this template, list the pages -->
        <% if post.title == this_page %>
            <hr>
            <h3 id="page-pages">Related pages</h3>
            <!-- Iterate over the pages within this page -->
            <% pages.each do |pagex| %>
                <ul>
                    <li><%= link_to pagex.title, pagex %></li>
                </ul>
            <% end %>
        <% end %>
    <% end %>
</div>
