<div class="card" id="project-page">

    <% if post.tags.any? %>
      <ul class="card-tags">
        <% post.tags.each do |tag| %>
          <li>
            <%= link_to "#{tag}", tag_path(tag),
                class: "badge no-hvr #{tag}" %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="card-image">
      <!-- if post has tags, add filler element -->
      <% if post.tags.any? %>
        <div id="tag-filler-space"></div>
      <% end %>
      <!-- if post has header image, add it -->
      <% if post.data['image'] %>
        <%= image_tag post.data['image'] %>
      <% end %>
    </div>

    <h2 id="title"><%= markdownify post.title %></h2>

    <hr class="fractal">

    <h4 id="repo"><a href="<%= post.data['github'] %>">GitHub Repo</a></h4>

    <div id="description"><%=  post.body %></div>
</div>
