<ul class="cards">
  <!-- Generate project cards -->
  <% data.projects.each do |slug, project| %>
    <% if !project.blank? %>
      <li class="card">
        <!-- Card-covering hyperlink -->
        <%= link_to '', slug, :class => "card-link no-hvr" %>

        <!-- Project Tags (if any) -->
        <% if project.tags? %>
          <ul class="card-tags">
            <% project.tags.each do |tag| %>
              <li>
                <%= link_to "#{tag}", '/topics/' + "#{tag}",
                    :class => "badge no-hvr", :id => "#{tag}" %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <!-- Project Image (if one) -->
        <div class="card-image">
          <% if project.image? %>
            <%= image_tag project.image %>
          <% end %>
        </div>

        <!-- Project Title -->
        <div class="card-header">
          <h3 class="card-title">
              <%= project.title %>
          </h3>
        </div>

        <!-- Fractal Divider -->
        <hr class="fractal">

        <!-- Project Summary -->
        <div class="card-copy">
            <!-- Render Markdown as HTML -->
            <%= markdownify project.description %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
