<li class="card">
  <%= partial "partials/card/link",
              locals: { path: "/#{item.path}" } %>

  <%= partial "partials/card/tags_badges",
              locals: { item: item } %>

  <!-- item Image (if one) -->
  <%= partial "partials/card/image",
              locals: { item: item } %>

  <hr class="fractal">

  <div class="card-right">
    <%= partial "partials/card/header",
              locals: { item: item } %>

    <div class="card-copy">
      <%= markdownify item.summary %>
    </div>
  </div>
</li>
